@page
@model IndexModel
@{
    ViewData["Title"] = "Categories";
}

<h2>Categories</h2>
<a asp-page="/Categories/Exercises/Create" class="btn btn-success mb-3">Create New Category</a>
<ul class="list-group">
    @foreach (var category in Model.Categories)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>
                <a asp-page="/Categories/Exercises/Index" asp-route-category="@category">
                    @category
                </a>
            </span>
        </li>
    }
</ul>
