@page "/Categories/{category:alpha}/Exercises/Create"
@model CreateModel
@{
    ViewData["Title"] = "Create Exercise";
}
<h2>Create Exercise</h2>
<form method="post">
    <div class="mb-3">

        <input asp-for="Exercise.CategoryId" type="hidden" value="@Model.CategoryId"></input>
        <label asp-for="Exercise.Title" class="form-label"></label>
        <input asp-for="Exercise.Title" class="form-control"></input>
        <span asp-validation-for="Exercise.Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Exercise.Question" class="form-label"></label>
        <textarea asp-for="Exercise.Question" class="form-control"></textarea>
        <span asp-validation-for="Exercise.Question" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Exercise.Solution" class="form-label"></label>
        <textarea asp-for="Exercise.Solution" class="form-control"></textarea>
        <span asp-validation-for="Exercise.Solution" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Exercise.Answer" class="form-label"></label>
        <textarea asp-for="Exercise.Answer" class="form-control"></textarea>
        <span asp-validation-for="Exercise.Answer" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Exercise.Hint" class="form-label"></label>
        <textarea asp-for="Exercise.Hint" class="form-control"></textarea>
        <span asp-validation-for="Exercise.Hint" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="./Index" asp-route-category="@Model.Category" class="btn btn-secondary">Cancel</a>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
