@model IReadOnlyCollection<string>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" id="CategoryDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Categories
    </a>
    <ul class="dropdown-menu" aria-labelledby="CategoryDropdown">
        <li>
            <a asp-page="/Categories/Index" class="dropdown-item">All</a>
        </li>
        @foreach (var category in Model)
        {
            <li>
                <a asp-page="/Categories/Exercises/Index" asp-route-category="@category" class="dropdown-item">@category</a>
            </li>
        }
    </ul>
</li>